body {
    font-family: monospace;
}

.link-header {
    text-decoration: none;
    color: darkblue;
    padding: 5px;
}

.link-nav{
    text-decoration: none;
}

.link-header:hover{
    background-color: cornflowerblue;
    padding: 5px;
}

nav {
    display:flex;
    justify-content: center;
    justify-content:  space-around;
}

.social:hover{
position: relative;
bottom: 10px;
}

.link-header{
font-size: 25px;
background-color: hsl(0, 85%, 84%);
color:rgb(205, 91, 91);
border-radius: 5px;
}

.link-header:hover{
background-color: hotpink;
color:rgb(255, 255, 255);

}

h1{
font-size: 40px;
color: rgb(255, 130, 136);
}

body{
color:rgb(247, 159, 193);
}

.text{
    font-size: 20px;
color:rgb(245, 149, 165)
}

ul{
font-size: 20px;
color:rgb(245, 149, 165)
}

.social img{
width: 100px;
height: 100px;
}

footer{
position:fixed;
bottom: 0px;
}

.image{
display:flex;
flex-wrap:wrap;
width: 60%;
justify-content: space-between;
}
.image img{
width: 45%;;
height:auto;
}

.image img:hover{
position:relative;
bottom: 10px;
}

h2{
color:rgb(254, 40, 151);
font-size: 35px;
}

main{
margin-bottom:150px;
}

iframe:hover{
box-shadow: 6px 10px 25px 0 black;
}